# Copier ce fichier en .env et remplir les valeurs
# cp .env.example .env

# Clé API FRED (gratuite sur https://fred.stlouisfed.org/docs/api/api_key.html)
FRED_API_KEY=42e52125dfafa3b7cc3f0044a2d95759

# Période d'analyse
START_DATE=1990-01-01
END_DATE=2024-12-31